
as3/OpenCVExtension/.actionScriptProperties

as3/OpenCVExtension/.flexLibProperties

as3/OpenCVExtension/.project

as3/OpenCVExtension/.settings/*

as3/OpenCVExtension/assets/*

as3/OpenCVExtension/cert/debugCert.p12

as3/OpenCVExtensionDemo/.DS_Store

as3/OpenCVExtensionDemo/.actionScriptProperties

as3/OpenCVExtensionDemo/.project

as3/OpenCVExtensionDemo/.settings/*

as3/OpenCVExtensionDemo/bin-debug/*

as3/OpenCVExtensionDemo/src/net/.DS_Store

native/OpenCVExtension/.DS_Store
