
as3 code/.DS_Store

as3 code/OpenCVExtension/.actionScriptProperties

as3 code/OpenCVExtension/.flexLibProperties

as3 code/OpenCVExtension/.project

as3 code/OpenCVExtension/.settings/*

as3 code/OpenCVExtension/assets/build/*

as3 code/OpenCVExtension/assets/extension/*

as3 code/OpenCVExtension/cert/debugCert.p12

demo/OpenCVExtensionDemo/.DS_Store

demo/OpenCVExtensionDemo/.actionScriptProperties

demo/OpenCVExtensionDemo/.project

demo/OpenCVExtensionDemo/.settings/*

demo/OpenCVExtensionDemo/bin-debug/*

demo/OpenCVExtensionDemo/src/net/.DS_Store

native code/mac/.DS_Store
